.venv/
__pycache_/

customProphet4.ipynb
customProphet5.ipynb
customProphet4.py
customProphet5.py
LossOverIterations.png
model_0.json
pred_tests.ipynb
ritchievink.ipynb
ritchievink.py
ritchievink2.ipynb
ritchievink3.ipynb
sample_data_2.csv
test2.py